[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "COR"]
	path = COR
	url = https://github.com/cran/COR
[submodule "DIRMR"]
	path = DIRMR
	url = https://github.com/cran/DIRMR
[submodule "DLEGFM"]
	path = DLEGFM
	url = https://github.com/cran/DLEGFM
[submodule "DLPCA"]
	path = DLPCA
	url = https://github.com/cran/DLPCA
[submodule "DTSR"]
	path = DTSR
	url = https://github.com/cran/DTSR
[submodule "Dogoftest"]
	path = Dogoftest
	url = https://github.com/cran/Dogoftest
[submodule "FPCdpca"]
	path = FPCdpca
	url = https://github.com/cran/FPCdpca
[submodule "ISR"]
	path = ISR
	url = https://github.com/cran/ISR
[submodule "LFM"]
	path = LFM
	url = https://github.com/guangbaog/lfm
[submodule "LIC"]
	path = LIC
	url = https://github.com/cran/LIC
[submodule "LLIC"]
	path = LLIC
	url = https://github.com/guangbaog/llic
[submodule "ORKM"]
	path = ORKM
	url = https://github.com/cran/ORKM
[submodule "PPCDT"]
	path = PPCDT
	url = https://github.com/guangbaog/ppcdt
[submodule "SFM"]
	path = SFM
	url = https://github.com/guangbaog/sfm
[submodule "SOPC"]
	path = SOPC
	url = https://github.com/cran/SOPC
[submodule "TFM"]
	path = TFM
	url = https://github.com/guangbaog/tfm
[submodule "TLIC"]
	path = TLIC
	url = https://github.com/guangbaog/tlic
[submodule "pql"]
	path = pql
	url = https://github.com/guangbaog/pql
