[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "COR"]
	path = COR
	url = https://github.com/cran/COR
[submodule "DLEGFM"]
	path = DLEGFM
	url = https://github.com/cran/DLEGFM
[submodule "DLPCA"]
	path = DLPCA
	url = https://github.com/cran/DLPCA
[submodule "FPCdpca"]
	path = FPCdpca
	url = https://github.com/cran/FPCdpca
[submodule "ISR"]
	path = ISR
	url = https://github.com/cran/ISR
[submodule "LIC"]
	path = LIC
	url = https://github.com/cran/LIC
[submodule "ORKM"]
	path = ORKM
	url = https://github.com/cran/ORKM
[submodule "PPCDT"]
	path = PPCDT
	url = https://github.com/guangbaog/ppcdt
[submodule "SOPC"]
	path = SOPC
	url = https://github.com/cran/SOPC
[submodule "TLIC"]
	path = TLIC
	url = https://github.com/guangbaog/tlic
[submodule "pql"]
	path = pql
	url = https://github.com/cran/pql
